{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Data Preparation{% endblock %}</h2>
{% endblock %}

{% block content %}
<p>
  Because LSTM(Long Short-Term Memory) is one of the deep learning techniques, as much data as possible 
  will help me get more accurate results, so I downloaded all the original flight data from 2012-2018, 
  the following function will perform the most basic data The cleaning work is to facilitate the subsequent 
  splicing of other datasets to form a complete structure.
</p>

<img src="/static/data1.png" alt="image missing" width="70%">

<p>
  From the raw data, we found that there are a total of 28 columns in the flight dataset. If the unit 
  of our prediction is every flight instead of every day, I will select predictors through correlation 
  plot or heat map, but in this project, the object we explore is the unit of day, so after data cleaning, 
  Most columns will be removed, or converted to other varibles.
</p>


<img src="/static/data2.png" alt="image missing" width="70%">

<p>
  We used One-Hot Encoding instead of our commonly used label Encoding in the above processing of 
  the week. Because the premise of using label Encoding is that the variable should behave to some extent, 
  for example, easy is 1, medium is 2, difficult is 3. But in our case the day of the week does not represent 
  such an attribute so I used One- Hot Encoding. In fact, One-Hot Encoding is very easy to understand. 
  Each corresponding value is only 0 and 1. 0 means it does not have the property, and 1 means it has the property. 
  For example, on 2015-01-01, the value corresponding to Thursday is 1, which means that 2015-01-01 is Thursday.
</p>

<h2>visulazation</h2><br>

<form method="post" id="plotly1">
  <div>Selct a year:</div><br>
  <label for="2012"> 2012 </label><input type="radio" id="2012" name="year" value="2012"/>
  <label for="2013"> 2013 </label><input type="radio" id="2013" name="year" value="2013"/>
  <label for="2014"> 2014 </label><input type="radio" id="2014" name="year" value="2014"/>
  <label for="2015"> 2015 </label><input type="radio" id="2015" name="year" value="2015"/>
  <label for="2016"> 2016 </label><input type="radio" id="2016" name="year" value="2016"/>
  <label for="2017"> 2017 </label><input type="radio" id="2017" name="year" value="2017"/>
  <label for="2018"> 2018 </label><input type="radio" id="2018" name="year" value="2018"/>
  <input type="submit" form="plotly1" name="plotly_button" value="draw">
</form>


<div id="chart1"></div><br><br>
<div id="chart2"></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs1 = {{graphJSON1 | safe}};
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.newPlot('chart1',graphs1,{});
  Plotly.newPlot('chart2',graphs2,{});
</script>

<p>
  According to the image, we can conclude that the overall flight punctuality rate tends to be a stable sequence, 
  that is, a sequence with no obvious upward or downward trend, and the average punctuality rate is about 70%-90%. 
  The punctuality rate is inversely proportional, which is also in line with our intuition that the punctuality rate 
  of the aircraft is not high when the shipping pressure is high. When we look at the data corresponding to the number 
  of days, we find that the weather should be a very important factor. Therefore, the next part of the code is mainly 
  to deal with the weather conditions in the Los Angeles area from 2012 to 2018.
</p>

<h2>Weather Data</h2>
<img src="/static/data3.png" alt="image missing" width="50%">
<p>
  Before processing, let's take a look at the raw data. We found that the monitoring station will measure 4 times a day, 
  the first time is 22:00, the second time is 16:00, the third time is 10:10, and the fourth time is 22:00. But don’t 
  forget that the unit of our final data is each day, so the time doesn’t matter, so in the function below, we will deal 
  with the time. And the varible name of the original data is not very clear, so we have to rename the variable name to help 
  everyone better understand the corresponding real meaning.
</p>

<img src="/static/data4.png" alt="image missing" width="70%">
<p>
  From the above table, it can be found that I calculated the average wind speed and visibility for each day, and for 
  the calculation of precipitation I used the sum function to sum instead of the average. This is because the precipitation 
  after sum is a more accurate, but the wind speed and visibility cannot be used in the same way, because it does not have 
  any meaning when we do the addition. Finally, I convert the precipitation and cloud conditions into categorical varibles 
  according to the real division criteria. At the same time, perform One-Hot Encoding processing on it.
</p>

<h2>Merge datasets</h2>

<p>
  We call SQL again, because the LEFT JOINT function will help us merge data set. The resulting data is the final dataset. 
  However, at the same time we also normalized the numerical varible in the data. And this time we are using the Min-Max method 
  instead of the standard scaler. Because I found that our data is not a normal distribution, so Min-Max will be more suitable 
  for our project.
</p>
<img src="/static/data5.png" alt="image missing" width="70%">
<p>
  Before dividing the data into training set and test set, we need to reorder the data, because our standard of division is to 
  divide the data into 60% training set, 20% vaildation group and 20% test set in chronological order rather than randomly.
</p>


{% endblock %}
